body {
    background-color: #F2F2F2;

}
.main-title {
    color: #2F281E;
    max-width: 518px;
    width: 100%;
    font-family: Ramaraja;
    font-size: 54px;
    font-style: normal;
    font-weight: 518;
   
}
.main-info {
    color: #544837;
    max-width: 458px;
    width: 100%;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 458;
    

}
.main-btn {
    width: 93px;
    height: 23px;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: #FF9900;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 93px;
    line-height: 24px; 
    letter-spacing: 0.32px;
    border: none;

}
.main-btn1 {

}
.main-img {
    display: inline-flex;
    max-width: 605px
    height: 496px
    width: 100%;

}

section {
    display: inline-block;
}