body {
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    color: #333;
}
.nav {
    color: #2F281F;
    display: inline-flex;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    list-style: none;
    justify-content: flex-start;
    margin-top: 48px;
    margin-left: 98px;
    line-height: 28px;
    letter-spacing: 0.32px;
    
}
a {
    text-decoration: none;
}
.nav li {
    margin-left: 38px;
}
.sing in {
    color: #173A56;
    background-color: #BCD0E5;
    margin-left: 200px;
    
}
.sing up {
    color: #ffffff;
    background-color: #ff9900;
}
.nav btn {
    color: #ffffff;
    background-color: #1B0A42;
}
.logo {
    color: #0A1B32;
    display: inline-flex;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    margin-top: 37px;
    margin-bottom: 80px;

}
body {
    background-color: #F2F2F2;

}
.main-title {
    color: #2F281E;
    max-width: 518px;
    width: 100%;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    margin-top: 211px;
    margin-left: 145px;
   
}
.main-info {
    color: #544837;
    max-width: 458px;
    width: 100%;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 145px;
    margin-right: 57px;
    

}
.main-btn {
    width: 93px;
    height: 23px;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: #FF9900;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 93px;
    line-height: 24px; 
    letter-spacing: 0.32px;
    border: none;

}
.main-btn1 {
    color: #FF9900;

}
.main-img {
    display: inline-flex;
    max-width: 605px
    height: 496px
    width: 100%;
    margin-top: 211px;
    margin-right: 60px;
    margin-left: 19px;
    aling-item: flex-start;
    

}

section {
    display: inline-block;
}