* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    text-rendering: optimizeSpeed;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5;
}

header {
  display: flex;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  max-width: 1536px;
  padding-right: 15px;
  padding-top: 30px;
  box-sizing: border-box;
  justify-content: space-between;
   

}

.nav {
    color: #2F281F;
    display: inline-flex;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    list-style: none;
    justify-content: flex-start;
    margin-top: 48px;
    margin-left: 98px;
    line-height: 28px;
    letter-spacing: 0.32px;
    
    
}
a:hover {
    color: #ff9900;
    text-decoration: none;
    font-weight: 600;
}

.nav li {
    margin-left: 38px;
}

.sing-class {
    color: #173A56;
    background-color: #BCD0E5;
    margin-left: 200px;
    
}
.sing up {
    color: #ffffff;
    background-color: #ff9900;
    margin-left: 20px;
    margin-right: 0%;
}

.nav btn {
    color: #ffffff;
    background-color: #1B0A42;
}
.logo {
    color: #0A1B32;
    display: inline-flex;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    margin-top: 37px;
    margin-bottom: 80px;

}
body {
    background-color: #F2F2F2;

}
.main-title {
    color: #2F281E;
    max-width: 518px;
    width: 100%;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    margin-top: 211px;
    margin-left: 145px;
   
}
.main-info {
    color: #544837;
    max-width: 458px;
    width: 100%;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 145px;
    margin-right: 57px;
    

}
.main-btn {
    width: 93px;
    height: 23px;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: #FF9900;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 93px;
    line-height: 24px; 
    letter-spacing: 0.32px;
    border: none;

}
.main-btn1 {
    color: #FF9900;
    margin-left: 20px;

}
.main-btn1-icon {
    width: 20px;
    height: 17px;
}
.main-img {
    display: inline-flex;
    width: 605px;
    height: 496;
    margin-top: 211px;
    margin-right: 60px;
    margin-left: 19px;
    align-items: flex-start;


}

section {
    display: inline-block;
}

.feature {
    display: inline;
    margin-top: 99px;
    margin-left: 147px;
}


.feature-title {
    color: #2F281E;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-top: 108px;
    margin-left: 500px;
    margin-right: 500;
    margin-bottom: 50px;
    line-height: auto;
    letter-spacing: 0px;
    text-align: center;
}

.feature-card {
    display: flex;
    max-width: 1095px;
    margin-left: 147px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    flex: 1;
    min-width: 240px;
    width: 100%;
    margin-top: 30px;
    align-items: flex-start;
    
   }
  
   .card-icon {
    width: 51px;
    height: 55px;
    justify-content: flex-start;
   }
  
   .card-title {
    color: #2F281E;
    font-size: 22px ;
    font-weight: 600;
    line-height: auto;
    justify-content: flex-start;
   }
  
   .card-info {
    color: #544837;
    font-size:16px ;
    font-weight: 500;
    line-height: 26px;
    justify-content: flex-start;
   }

   .center {
    margin-top: 50px;
    margin-left: 600px;
    align-content: center;
    justify-content: center;  
   }
  

   .reverse {
    flex-direction: row-reverse;
   }

   .effortless {
    display: flex;
    margin-top: 99px;
    margin: 0 auto;
    align-items: center;

  } 
  
  .effortless-title {
    color: #2F281E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    max-width: 518px;
    width: 100%;
    margin-left: 145px; 
    line-height: auto;
    letter-spacing: 0.002em;
    
  }
  
  .effortless-info {
    color: #544837; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    max-width: 486px;
    margin-top: 20px;
    margin-left: 145px;
    margin-right: 113px;
    line-height: 26px;
    letter-spacing: 0px;
    justify-content: flex-start;
    
  }
  
  .effortless-img {
    display: inline-flex;
    width: 520px;
    height: 574px;
    margin-top: 99px;
    align-items: flex-start; 
    justify-content: flex-end;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .element-1 {
    order:3;
  
  }
  
  .element-3 {
    order: 1;

  }

  .product-manager {
    display: flex;
    margin: 0 auto;
    margin-top: 99px;
    justify-content: flex-start;
    align-items: center
  
  } 

  .product-manager-title {
    color: #2F281E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    max-width: 518px;
    margin-left: 145px;
    line-height: auto;
    letter-spacing: 0.002em;
    
  }

  .product-manager-info {
    color: #544837; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    max-width: 486px;
    margin-top: 20px;
    margin-left: 145px;
    margin-right: 113px;
    line-height: 26px;
    letter-spacing: 0px;
    justify-content: flex-start;
    
  }

  .product-manager-img {
    display: inline-flex;
    width: 520px;
    height: 574px;
    margin-top: 99px;
    align-items: flex-start; 
    justify-content: flex-end;
    
  }

  .margin {
    margin-left: 30px;
  }
   
  .baseline {
    align-items: baseline;
  }
  
    .right {
    flex-direction: column;
    right: 0%
    
  }
  
  ::placeholder {
    font-size: 16px;
    line-height: 28px;
  }

  .jusifile {
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  /* Footer */
  .footer-line {
    border-top: 1px solid;
    margin-bottom: 1.5rem;
    margin: 0 auto;
    max-width: 1536px;
    
  }
  
  footer {
    display: flex;
    margin: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 1536px;
    border-top: solid rgba(0, 0, 0, 0.1);
    padding-top: 100px;
  }

  & li {
    color: #544837;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    align-items: flex-start;
    
    & span {
      margin-left: 20px;
      color: coral;
    }
  }
  
  .footer-nav {
    color: #544837;
    font-size: 1.2rem;
  
    & a:hover {
      color: #ff9900;
    }
  }

  & h3 {
    font-family: Amiko;
    margin-bottom: 30px;
    
  }

.footer-news {
  width: 325px;
  height: 199px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  
}
  
  & input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;

  } 

  .sign-in-now {
    color: #ffffff;
    background-color:#ff9900 ;
    width: 132px;
    height: 39px;
    min-height: auto;
    margin-left: 0%; 
    align-items: center;
  }

  